!!!
%html{:lang => "en"}
  %head

    %meta{:charset => "utf-8"}/
    %title SocialScope Cadastro
    =stylesheet_link_tag 'bootstrap.min', 'font-awesome.min', 'magnific-popup', 'creative.min','cadastro'
    %script{:src => "http://code.jquery.com/jquery-1.11.1.min.js"}

    %section#cadastro
      %br
      %br
      %br
      / Google Fonts
      -#%link{:href => "https://fonts.googleapis.com/css?family=Passion+One", :rel => "stylesheet", :type => "text/css"}/
      -#%link{:href => "https://fonts.googleapis.com/css?family=Oxygen", :rel => "stylesheet", :type => "text/css"}/

      =form_tag url(:usuario, :create), :method => :post do
        .section-content
          .section-content-inner
            .container
              .row.main
                .main-login.main-center
                  %h5 Cadastre-se para obter mais recursos!
                  .form-group
                    %label.cols-sm-2.control-label{:for => "name"} Seu nome
                    .cols-sm-10
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.fa{"aria-hidden" => "true"}
                        %input#name.form-control{:name => "name", :placeholder => "Seu nome", :type => "text"}/
                  .form-group
                    %label.cols-sm-2.control-label{:for => "surname"} Seu sobrenome
                    .cols-sm-10
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-user.fa{"aria-hidden" => "true"}
                        %input#surname.form-control{:name => "surname", :placeholder => "Seu sobrenome", :type => "text"}/
                  .form-group
                    %label.cols-sm-2.control-label{:for => "email"} Seu Email
                    .cols-sm-10
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-envelope.fa{"aria-hidden" => "true"}
                        %input#email.form-control{:name => "email", :placeholder => "Seu email", :type => "text"}/
                  .form-group
                    %label.cols-sm-2.control-label{:for => "password"} Senha
                    .cols-sm-10
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-lock.fa-lg{"aria-hidden" => "true"}
                        %input#password.form-control{:name => "password", :placeholder => "Insira sua senha", :type => "password"}/
                  .form-group
                    %label.cols-sm-2.control-label{:for => "confirm"} Confirma senha
                    .cols-sm-10
                      .input-group
                        %span.input-group-addon
                          %i.fa.fa-lock.fa-lg{"aria-hidden" => "true"}
                        %input#password_confirmation.form-control{:name => 'password_confirmation', :placeholder => "Repita seu senha", :type => "password"}/
                  .form-group
                    =submit_tag('Cadastrar', :class => 'btn btn-md btn-info', :id=>'liberar')

                    -#%a#button.btn.btn-primary.btn-lg.btn-block.login-button{:href => "http://deepak646.blogspot.in", :target => "_blank", :type => "button"} Cadastrar

                  =javascript_include_tag 'bootstrap.min'
            / %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
            / Include all compiled plugins (below), or include individual files as needed
