%header
  .header-content
    .header-content-inner
      %h1#homeHeading As redes sociais são minas de informação e conhecimento
      %hr/
      %p Nós fornecemos uma ferramenta simples e inteligente para você mesmo minerar tudo que precisa.
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Saiba mais
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Experimente
        %hr.light/
        %p.text-faded Basta digitar ou colar uma URL de qualquer rede social e clicar em Get Social Scope
        -# %form{:method => "post", :action => url(:fetch, :index)}
        = form_tag url(:fetch,:index),:novalidate=>true do
          =text_field_tag :url, :value => params[:url], :class => 'col-md-12 url', :required => true, :placeholder => "https://www.facebook.com/projetomedicina"
          -# %input.col-md-12{:type => "url", :name => "page", :id => "page", :class => "url", :required => true, :placeholder => "https://www.facebook.com/projetomedicina"}
          %br/
          %br/
          =submit_tag('Get Social Scope!', :class => 'btn btn-primary btn-xl page-scroll')
          -# %button.page-scroll.btn.btn-default.btn-xl.sr-button{:type => "submit", :value => "page"} Get Social Scope!
-#%section#services
-#  .container
-#    .row
-#      .col-lg-12.text-center
-#        %h2.section-heading At Your Service
-#        %hr.primary/
-#  .container
-#    .row
-#      .col-lg-3.col-md-6.text-center
-#        .service-box
-#          %i.fa.fa-4x.fa-diamond.text-primary.sr-icons
-#          %h3 Sturdy Templates
-#          %p.text-muted Our templates are updated regularly so they don't break.
-#      .col-lg-3.col-md-6.text-center
-#        .service-box
-#          %i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
-#          %h3 Ready to Ship
-#          %p.text-muted You can use this theme as is, or you can make changes!
-#      .col-lg-3.col-md-6.text-center
-#        .service-box
-#          %i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
-#          %h3 Up to Date
-#          %p.text-muted We update dependencies to keep things fresh.
-#      .col-lg-3.col-md-6.text-center
-#        .service-box
-#          %i.fa.fa-4x.fa-heart.text-primary.sr-icons
-#          %h3 Made with Love
-#          %p.text-muted You have to make your websites with love these days!
-#%section#portfolio.no-padding
-#  .container-fluid
-#    .row.no-gutter.popup-gallery
-#      .col-lg-4.col-sm-6
-#        %a.portfolio-box{:href => "images/portfolio/fullsize/1.jpg"}
-#          %img.img-responsive{:alt => "", :src => "images/portfolio/thumbnails/1.jpg"}/
-#          .portfolio-box-caption
-#            .portfolio-box-caption-content
-#              .project-category.text-faded
-#                Category
-#              .project-name
-#                Project Name
-#      .col-lg-4.col-sm-6
-#        %a.portfolio-box{:href => "images/portfolio/fullsize/2.jpg"}
-#          %img.img-responsive{:alt => "", :src => "images/portfolio/thumbnails/2.jpg"}/
-#          .portfolio-box-caption
-#            .portfolio-box-caption-content
-#              .project-category.text-faded
-#                Category
-#              .project-name
-#                Project Name
-#      .col-lg-4.col-sm-6
-#        %a.portfolio-box{:href => "images/portfolio/fullsize/3.jpg"}
-#          %img.img-responsive{:alt => "", :src => "images/portfolio/thumbnails/3.jpg"}/
-#          .portfolio-box-caption
-#            .portfolio-box-caption-content
-#              .project-category.text-faded
-#                Category
-#              .project-name
-#                Project Name
-#      .col-lg-4.col-sm-6
-#        %a.portfolio-box{:href => "images/portfolio/fullsize/4.jpg"}
-#          %img.img-responsive{:alt => "", :src => "images/portfolio/thumbnails/4.jpg"}/
-#          .portfolio-box-caption
-#            .portfolio-box-caption-content
-#              .project-category.text-faded
-#                Category
-#              .project-name
-#                Project Name
-#      .col-lg-4.col-sm-6
-#        %a.portfolio-box{:href => "images/portfolio/fullsize/5.jpg"}
-#          %img.img-responsive{:alt => "", :src => "images/portfolio/thumbnails/5.jpg"}/
-#          .portfolio-box-caption
-#            .portfolio-box-caption-content
-#              .project-category.text-faded
-#                Category
-#              .project-name
-#                Project Name
-#      .col-lg-4.col-sm-6
-#        %a.portfolio-box{:href => "images/portfolio/fullsize/6.jpg"}
-#          %img.img-responsive{:alt => "", :src => "images/portfolio/thumbnails/6.jpg"}/
-#          .portfolio-box-caption
-#            .portfolio-box-caption-content
-#              .project-category.text-faded
-#                Category
-#              .project-name
-#                Project Name
-#%aside.bg-dark
-#  .container.text-center
-#    .call-to-action
-#      %h2 Free Download at Start Bootstrap!
-#      %a.btn.btn-default.btn-xl.sr-button{:href => "http://startbootstrap.com/template-overviews/creative/"} Download Now!
